@import './variables.less';

.rbc-availability,
.rbc-availability-overlap {
  background-color: @availability-bg;
  border: @availability-border;
  border-radius: @availability-border-radius;
  color: @availability-color;
}

.rbc-availability {
  padding: @availability-padding;
  width: @availability-width;
}

.rbc-availability-overlap {
  width: @availability-overlap-width;
  padding: @availability-overlap-padding;
}
